
/*--------------------------------------Estilos globales-----------------------------------------------------------------------------------------------------*/
*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    /*fondo de la pagina*/
    background-image: url('imagenes/fondos-para-la-pagina/fondo-tienda.png');
    background-size: cover; /* Para que la imagen cubra todo el fondo */
    background-position: center; /* Para centrar la imagen en el fondo */
    background-attachment: fixed; /* Fondo estático */
    /*resto de elementos de la pagina*/
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
    background-color: #000;
    margin-left: 90px; /* Ancho de la barra de navegación */
}

/*-----------------------------PERTENECE A LOS ESTILOS DE LA TIENDA------------------------------------------------------------------------------------------------*/


/*--------------------------------ESTILOS PARA EL MENU DESPLEGABLE-----------------------------------------------------------------------------------------*/
nav {
    border-radius: 15px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 90px;
    background: #fff;
    transition: width 0.2s linear;
    box-shadow: 0 20px 700px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Añadido para habilitar el desplazamiento si el contenido del menú es demasiado largo */
    z-index: 100; /* Valor alto para asegurarse de que el menú esté delante de otros elementos */

}

nav:hover {
    width: 280px;
    transition: all 0.5s ease;
}

.menu {/*MENU DESPLEGABLE*/
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    margin: 5px 1px 1px 5px;
    width: 80px;
}

.home-icon{/*ICONO DE INICIO*/
    position: absolute;
    margin: 1px 1px 1px 0px;
    width: 40px;
    height: 40px;
    stroke: #000;
}
.net-icon{/*ICONO DE REDES*/
    position: absolute;
    margin: 1px 1px 1px 0px;
    width: 40px;
    height: 40px;
    stroke: #000;
}
.info-icon{/*ICONO DE INFORMACION*/
    position: absolute;
    margin: 1px 1px 1px 0px;
    width: 40px;
    height: 40px;
    stroke: #000;
}
.shop-icon{/*ICONO DE TIENDA*/
    position: absolute;
    margin: 1px 1px 1px 0px;
    width: 40px;
    height: 40px;
    stroke: #000;
}
.wallet-icon{/*ICONO DE CARTERA*/
    position: absolute;
    margin: 1px 1px 1px 0px;
    width: 40px;
    height: 40px;
    stroke: #000;
}
.profile-icon{/*ICONO DE PERFIL*/
    position: absolute;
    margin: 1px 1px 1px 0px;
    width: 40px;
    height: 40px;
    stroke: #000;
}
.logout-icon{/*ICONO DE CERRAR SECION*/
    position: absolute;
    margin: 1px 1px 1px 0px;
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon{
    display: inline-flex;
    align-items: center;
    margin-right: 10px; /* Agrega un margen entre el icono y el texto */
}

.icon svg {
    width: 40px;
    height: 40px;
    stroke: #000;
    margin-right: 5px; /* Agrega un margen entre el icono y el texto */
}

.icon span {
    font-weight: bold;
    /*padding-left: 15px;*/
    font-size: 18px;
    text-transform: uppercase;
}

* {
    position: relative;
    color: rgb(0, 0, 0);
    display: table;
    width: 300px;
    padding: 5px;
}

.fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

/*-----------------------------ESTILOS DEL ENCABEZADO DE LA PAGINA-----------------------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
    align-items: center;
}

.container-title{
    position: absolute;
    top: auto;
    right: auto;
    align-items: center;
    font-size: 40px;
    
}

.container-title h1{
    color: white;
}

/*---------------------------------ESTILOS PARA EL CARRITO---------------------------------------------------------------------------------*/

.container-icon {
    position: relative;
}

.icon-cart {
    width: 75px;
    height: 75px;
    stroke: #ffffff;
    cursor: pointer;
    /* Aquí es donde puedes ajustar las propiedades de posición */
    position: fixed; /* O position: absolute; dependiendo de tu diseño */
    top: 100px; /* Cambia este valor para ajustar la posición vertical */
    right: 25px; /* Cambia este valor para ajustar la posición horizontal */
}

.count-products {
    position: fixed;
    top: 100px;
    right: 18px;
    background-color: #f90000;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos {
    font-size: 15px;
    color: #fff;
}

/* Estilo para el contenedor de productos del carrito */
.container-cart-products {
    position: fixed;
    top: 170px;/* Coloca el carrito justo debajo del icono */
    right: 28px;/*Desplaza el contador de derecha a izquierda*/
    width: 260px;/* Ajusta el ancho del carrito según sea necesario */
    background-color: #fff; /* Cambia el color de fondo según tu diseño */
    border-radius: 10px; /* Redondea las esquinas */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20); /* Añade sombra para resaltar */
    display: none; /* Oculta el carrito por defecto */
    z-index: 1; /* Asegura que esté por encima del contenido */
    overflow-y: auto; /* Habilitar desplazamiento vertical */
    max-height: calc(100vh - 200px); /* Establecer una altura máxima para el desplazamiento */
}

.icon-cart:hover {
    cursor: pointer;
}

/* Estilo para mostrar el carrito cuando está abierto */
.container-cart-products.open {
    display: block;
}

/*--------------------------Estilo para los productos en el carrito--------------------------------------------------------------------------------*/
.cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-product {
    display: flex;
    flex-direction: column;
}

.cantidad-producto-carrito {
    
    font-size: 20px;
}

.titulo-producto-carrito {
    font-size: 12px;
    font-weight: 850;

}

.precio-producto-carrito {
    font-size: 16px;
}

.icon-delete {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.cart-total h3 {
    font-size: 18px;
    font-weight: bold;
}

.total-pagar {
    font-size: 18px;
    font-weight: bold;
}

.icon-close:hover {
    stroke: rgb(0, 0, 0);
}

/*-------------------------ESTILOS DE LOS PRODUCTOS------------------------------------------------------------------------------------*/

/*sombra para resaltar los productos*/
.item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.65);
}

.container-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-left: 90px; /* Ancho del nav */
    padding-top: 50px; /* Espacio para compensar la altura del nav */
}

.item {
    border-radius: 10px;
}

img {
    max-width: 100%;
}

.item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure {
    overflow: hidden;
}

.item:hover img {
    transform: scale(1.2);
}

.info-product {
    align-items: center;
    padding: 15px 30px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*color del texto del nombre del producto*/
.info-product h2{
    color: #ffffff;
}

.price {
    color: #ffffff;
    font-size: 18px;
    font-weight: 900px;
}


.info-product button {
    border: none;
    background: black;
    color: #fff;
    padding: 12px 5px;
    cursor: pointer;
}