
/*--------------------------------------Estilos globales-----------------------------------------------------------------------------------------------------*/
*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    /*fondo de la pagina*/
    background-image: url('imagenes/fondos-para-la-pagina/fondo-tienda.png');
    background-size: cover; /* Para que la imagen cubra todo el fondo */
    background-position: center; /* Para centrar la imagen en el fondo */
    background-attachment: fixed; /* Fondo estático */
    /*resto de elementos de la pagina*/
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: white;
    background-color: #000;
    margin-left: 70px; /* Ancho de la barra de navegación */

}

/*--------------------------------ESTILOS PARA EL MENU DESPLEGABLE-----------------------------------------------------------------------------------------*/
nav {/*estos estilos pertenecen al menu de navegacion y se aplican de forma global*/
    
    border-radius: 15px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 95%;
    width: 90px;
    background: white;
    transition: width 0.2s linear;
    box-shadow: 0 20px 700px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Añadido para habilitar el desplazamiento si el contenido del menú es demasiado largo */
    z-index: 100; /* Valor alto para asegurarse de que el menú esté delante de otros elementos */
    align-items: baseline;/*alinia el texto con los iconos */
}

nav:hover {
    width: 280px;
    transition: all 0.5s ease;
}

.menu {/*MENU DESPLEGABLE*/
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    margin: 5px 1px 1px 5px;
    width: 80px;
    font-size: 18px;
}

.menu .nav-item {
    color: black;/*da el color negro al texto de aladoo de cada icono*/
    display: inline-block; /* Mostrar en línea */
    vertical-align: middle; /* Alinear verticalmente al centro */
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 20px; /*espaciado de el texto con el icono*/
}

.menu .icon:first-child {/*aplica para el primer icono del nav llamado home-icon*/
    margin-top: 20px; /* Agrega un espacio de 20px hacia arriba */
}

.menu .icon {
    display: flex; /* Cambiar a flex */
    align-items: center; /* Alinear verticalmente al centro */
    margin-bottom: 20px; /* Agrega un espacio de 20px hacia abajo */
    margin-right: 10px; /* Opcional: Añadir margen entre el icono y el texto */
}

.menu .icon svg {
    width: 40px;
    height: 40px;
}

.home-icon{/*ICONO DE INICIO*/
    display: table;/*dispone los elementos en forma de tabla*/
    position: relative;
    margin: 1px 1px 1px 0px;
    width: 40px;
    height: 40px;
    stroke: #000;
}
.net-icon{/*ICONO DE REDES*/
    display: table;/*dispone los elementos en forma de tabla*/
    position: relative;
    margin: 1px 1px 1px 0px;
    width: 40px;
    height: 40px;
    stroke: #000;
}
.info-icon{/*ICONO DE INFORMACION*/
    display: table;/*dispone los elementos en forma de tabla*/
    position: relative;
    margin: 1px 1px 1px 0px;
    width: 40px;
    height: 40px;
    stroke: #000;
}
.shop-icon{/*ICONO DE TIENDA*/
    display: table;/*dispone los elementos en forma de tabla*/
    position: relative;
    margin: 1px 1px 1px 0px;
    width: 40px;
    height: 40px;
    stroke: #000;
}
.wallet-icon{/*ICONO DE CARTERA*/
    display: table;/*dispone los elementos en forma de tabla*/
    position: relative;
    margin: 1px 1px 1px 0px;
    width: 40px;
    height: 40px;
    stroke: #000;
}
.profile-icon{/*ICONO DE PERFIL*/
    display: table;/*dispone los elementos en forma de tabla*/
    position: relative;
    margin: 1px 1px 1px 0px;
    width: 40px;
    height: 40px;
    stroke: #000;
}
.logout-icon{/*ICONO DE CERRAR SECION*/
    display: table;/*dispone los elementos en forma de tabla*/
    position: relative;
    margin: 1px 1px 1px 0px;
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon{/*caracteristicas generales de los icon*/
    display: inline-flex;
    align-items: center;
    margin-right: 10px; /* Agrega un margen entre el icono y el texto */
}

.icon span {
    font-weight: bold;/*para el grosor de la letra adecuado*/
    /*padding-left: 15px;*/
    font-size: 18px;
    text-transform: uppercase;
}

.fas {/*estilos para el texto alado de los iconos del menu*/
    
    padding-left: 20px;/*espaciado de los iconos y el nav*/
}

/*-----------------------------ESTILOS DEL ENCABEZADO DE LA PAGINA-----------------------------------------------*/
header {/*estilos para el header (se aplica de forma global)*/
    
    display: flex;
    justify-content: space-between;/*para colocar los elementos al extremo*/
    align-items: center;/*para centrar en vertical*/
    padding: 20px 40px;/*ajusta el relleno segun sea necesario*/
}

main{/*estilos para el main (se aplica de forma global)*/
    padding: 20px 40px;/*ajusta el relleno segun sea necesario*/

}

.container-title{
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-size: 45px;
    padding: 10px;
    z-index: 1; /*asegura que no se quedara por debajode ningun otro elemento de la pagina*/
}

h1{
    color: rgb(255, 255, 255);
}







/*-----------------------------PERTENECE A LOS ESTILOS DEL INICIO----------------------------------------------------------------------------------------------------*/

.container-subtitle h2{
    white-space: nowrap;
    color: white;
}
.container-subtitle b{
    white-space: nowrap;
    color: white;
}
.container-text p{
    white-space: nowrap;
    color: white;
}

/*---------------------------Corresponde a los estilosde twitch-----------------------------------------------------------------------------------------------------*/

.container-title-twitch h2{
    white-space: nowrap;
    color: white;
    display: flex;
    align-items: center;
    font-size: 45px;
    padding: 15px;
}
.container-twitch-videos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);/*aqui se ajusta la cantidad de productos que se colocan por fila*/
    gap: 20px;/*espacio entre los productos*/
    grid-row-gap: 20px;/*espacio entre filas*/
    margin-left: 1px; /* Ancho espacio entre el nav y los productos*/
    padding-top: 50px; /* Espacio para compensar la altura del nav */
}
/*---------------------------Corresponde a los estilos del bloque de left 4 dead 2----------------------------------------------------------------------------------*/
.container-title-l4d2 h2{
    white-space: nowrap;
    color: white;
    display: flex;
    align-items: center;
    font-size: 45px;
    padding: 15px;
}

.container-l4d2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);/*aqui se ajusta la cantidad de productos que se colocan por fila*/
    gap: 20px;/*espacio entre los productos*/
    grid-row-gap: 20px;/*espacio entre filas*/
    margin-left: 1px; /* Ancho espacio entre el nav y los productos*/
    padding-top: 50px; /* Espacio para compensar la altura del nav */
}

/*---------------------------Corresponde a los estilos del bloque de resident evil ----------------------------------------------------------------------------------*/

.container-title-re h2{
    white-space: nowrap;
    color: white;
    display: flex;
    align-items: center;
    font-size: 45px;
    padding: 15px;/*espacioado del titulo y los demas elementos*/
}

.container-re{
    display: grid;
    grid-template-columns: repeat(4, 1fr);/*aqui se ajusta la cantidad de productos que se colocan por fila*/
    gap: 20px;/*espacio entre los productos*/
    grid-row-gap: 20px;/*espacio entre filas*/
    margin-left: 1px; /* Ancho espacio entre el nav y los productos*/
    padding-top: 50px; /* Espacio para compensar la altura del nav */
}

/*---------------------------Corresponde a los estilos del bloque de gta san andreas----------------------------------------------------------------------------------*/

.container-title-gtasa h2{
    white-space: nowrap;
    color: white;
    display: flex;
    align-items: center;
    font-size: 45px;
    padding: 15px;
}
.container-gtasa{
    display: grid;
    grid-template-columns: repeat(4, 1fr);/*aqui se ajusta la cantidad de productos que se colocan por fila*/
    gap: 20px;/*espacio entre los productos*/
    grid-row-gap: 20px;/*espacio entre filas*/
    margin-left: 1px; /* Ancho espacio entre el nav y los productos*/
    padding-top: 50px; /* Espacio para compensar la altura del nav */
}







/*-----------------------------PERTENECE A LOS ESTILOS DE REDES SOCIALES------------------------------------------------------------------------------------------------*/








/* Estilos para centrar horizontalmente el cuerpo solo en redes.html */

.container-title-redes h2{
    white-space: nowrap;
    color: white;
    display: flex;
    align-items: center;
    font-size: 45px;
    padding: 15px;
}

  
/* Estilos para la página de redes sociales */
.container-enlaces {
    /*display: table;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de tamaño igual */
    grid-gap: 20px; /* Espacio entre las imágenes */
    justify-items: center; /* Centra horizontalmente las imágenes */
    /*align-items: center;/* Centra verticalmente las imagenes */
    margin: 10px; /* Espaciado entre los elementos */
    max-width: 450px; /*Ajusta el ancho maximo del contenedor */
}
  
.container-enlaces a {

    width: 100%; /* Toma el ancho completo de su contenedor */
    text-align: center; /* Centra el contenido horizontalmente */
}

.container-enlaces a img{
    max-width: 150px;/*tamaño maximo para los logos de las redes sociales*/
    height: auto;/*alto automatico wn relacion con el max-width*/
}
  
.container-enlaces a:nth-child(1) img {
    filter: drop-shadow(5px 5px 5px rgba(59, 89, 152, 0.8)); /* Sombra azul para Facebook */
}
  
.container-enlaces a:nth-child(2) img {
    filter: drop-shadow(5px 5px 5px rgba(219, 72, 129, 0.8)); /* Sombra rosa-morada para Instagram */
}

.container-enlaces a:nth-child(3) img {
    filter: drop-shadow(5px 5px 5px rgba(255, 0, 0, 0.8)); /* Sombra roja para youtube */
}

.container-enlaces a:nth-child(4) img {
    filter: drop-shadow(5px 5px 5px rgba(187, 0, 255, 0.8)); /* Sombra morada para twitch */
}

.container-enlaces a:nth-child(5) img {
    filter: drop-shadow(5px 5px 5px rgba(63, 133, 255, 0.8)); /* Sombra azul para tiktok */
}

.container-enlaces a:nth-child(6) img {
    filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.8)); /* Sombra blanca para x */
}

.container-enlaces a:nth-child(7) img {
    filter: drop-shadow(5px 5px 5px rgba(83, 67, 255, 0.8)); /* Sombra morada-azul para discord */
    /*max-width: 100%;*/
}





/*-----------------------------PERTENECE A LOS ESTILOS DE SOBRE MI-------------------------------------------------------------------------------------------------*/








.container-date{
    grid-template-columns: repeat(2, 1fr);/*aqui se ajusta la cantidad de productos que se colocan por fila*/
    white-space: nowrap;/*para que no de saltos de linea donde no debe haber*/
    color: white;
    display: grid;
    align-items: center;
    margin-left: 10px;
    padding-top: 20px;
}

.container-date b{
    grid-template-columns: repeat(2, 1fr);/*aqui se ajusta la cantidad de productos que se colocan por fila*/
    white-space: nowrap;/*para que no de saltos de linea donde no debe haber*/
    color: white;
    display: grid;
    align-items: center;
    padding-top: 20px;
}

.container-bio{
    white-space: nowrap;
    color: white;
    display: grid;
    margin-left: 10px;
    padding-top: 50px;
}







/*-----------------------------PERTENECE A LOS ESTILOS DE LA TIENDA------------------------------------------------------------------------------------------------*/


/*---------------------------------ESTILOS PARA EL CARRITO---------------------------------------------------------------------------------*/

.container-icon {
    position: relative;
}

.icon-cart {/*estilos para el icono del carrito*/
    z-index: 999; /*asegura que no se quedara por debajode ningun otro elemento de la pagina*/
    width: 75px;
    height: 75px;
    stroke: white;
    cursor: pointer;
    /* Aquí es donde puedes ajustar las propiedades de posición */
    position: fixed; /* O position: absolute; dependiendo de tu diseño */
    top: 45px; /* Cambia este valor para ajustar la posición vertical */
    right: 25px; /* Cambia este valor para ajustar la posición horizontal */
}

.count-products {/*pertenece al contador de productos del carrito*/
    z-index: 999; /*asegura que no se quedara por debajode ningun otro elemento de la pagina*/
    position: fixed;
    top: 40px;/*desplaza el contador de arriba a abajo*/
    right: 18px;/*desplaza el contador de derecha a izquierda*/
    background-color: #f90000;/*color del circulo que contiene el numero del contador*/
    width: 25px;/*ancho del contador*/
    height: 25px;/*alto del contador*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;/*para hacerlo redondo el contador*/
}

#contador-productos {/*pertenece al contador del carrito*/
    z-index: 999; /*asegura que no se quedara por debajode ningun otro elemento de la pagina*/
    font-size: 15px;/*tamaño del texto del numero del contador del carrito*/
    color: white;/*color del numero del contador de productos*/
}

/* Estilo para el contenedor de productos del carrito */
.container-cart-products {
    position: fixed;
    top: 115px;/* Coloca el contenido del carrito justo debajo del icono */
    right: 28px;/*Desplaza el contenido delcarrito de derecha a izquierda*/
    width: 260px;/* Ajusta el ancho del carrito según sea necesario */
    background-color: white; /* Cambia el color de fondo según tu diseño */
    border-radius: 10px; /* Redondea las esquinas */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20); /* Añade sombra para resaltar */
    display: none; /* Oculta el carrito por defecto */
    z-index: 1; /* Asegura que esté por encima del contenido */
    overflow-y: auto; /* Habilitar desplazamiento vertical */
    max-height: calc(100vh - 200px); /* Establecer una altura máxima para el desplazamiento */
}

.icon-cart:hover {
    cursor: pointer;
}

/* Estilo para mostrar el carrito cuando está abierto */
.container-cart-products.open {
    display: block;
}

/*--------------------------Estilo para los productos en el carrito--------------------------------------------------------------------------------*/
.cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.icon-close {
    display: flex;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: black;/*color del circulo que contiene el numero del contador*/
    width: 25px;/*ancho del contador*/
    height: 25px;/*alto del contador*/
    border-radius: 50%;/*para hacerlo circular*/
    cursor: pointer;
}

.info-cart-product {
    color: black;
    display: flex;
    flex-direction: column;
}

.cantidad-producto-carrito {
    
    font-size: 20px;
}

.titulo-producto-carrito {
    font-size: 12px;
    font-weight: 850;/*para el grosor de la letra adecuado*/

}

.precio-producto-carrito {
    font-size: 16px;
}

.icon-delete {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.cart-total {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.cart-total h3 {
    font-size: 18px;
    font-weight: bold;/*para el grosor de la letra adecuado*/
}

.total-pagar {
    font-size: 18px;
    font-weight: bold;/*para el grosor de la letra adecuado*/
}

.icon-close:hover {
    stroke: rgb(0, 0, 0);
}

/*-------------------------ESTILOS DE LOS PRODUCTOS------------------------------------------------------------------------------------*/

/*sombra para resaltar los productos*/
.item:hover {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.65);
}

.container-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);/*aqui se ajusta la cantidad de productos que se colocan por fila*/
    gap: 20px;/*espacio entre los productos*/
    margin-left: 1px; /* Ancho espacio entre el nav y los productos*/
    padding-top: 20px; /* Espacio para compensar la altura del nav */
}

.item {
    border-radius: 15px;/*para dar un borde redondeado a nuestro contenedor de imagenes*/
}

img {
    max-width: 100%;
}

.item img {
    width: 100%;
    height: 300px;
    object-fit: cover;/*lo ajustamos para que no se desborde*/
    border-radius: 15px 15px 0 0;
    transition: all .5s;
}

.item figure {
    overflow: hidden;
}

.item:hover img {
    transform: scale(1.2);
}

.info-product {
    align-items: center;/*alinia los items de forma centrada*/
    padding: 15px 30px;/*espaciado entre la informacion*/
    line-height: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*color del texto del nombre del producto*/
.info-product h2{
    color: white;
    text-align: center; /* Centrar el texto horizontalmente */
}

.price {
    color: white;
    font-size: 18px;
    font-weight: 900px;
}


.info-product button {
    border-radius: 10px;
    border: none;
    background: black;
    color: white;
    padding: 12px 5px;
    cursor: pointer;
}

/*--------------------------------------------------ESTILOS PARA INICIO DE SECION--------------------------------------------------------------------------*/







.btnLogin-popup {
    position: fixed; /* O position: absolute; dependiendo de tu diseño */
    top: 80px; /* Cambia este valor para ajustar la posición vertical */
    right: 25px; /* Cambia este valor para ajustar la posición horizontal */
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;/*para el grosor de la letra adecuado*/
    margin-left: 40px;
    transition: .5s;

}

.btnLogin-popup:hover {
    background: white;
    color: black;

}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, heigth .2s ease;

}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}
.wrapper .form-box {
    width: 100%;
    padding: 40px;
    
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);

}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: white;
    font-size: 2em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;

}

.form-box h2 {
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #ffffff;
    margin: 30px 0;
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
}

.input-box label {
    position: absolute;/* Posicionamiento absoluto para superponerlo sobre el campo */
    top: 0;/* Coloca la etiqueta en la parte superior del campo */
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;/* Ajusta el tamaño del texto según sea necesario */
    color: white;
    font-weight: 500;/*para el grosor de la letra adecuado*/
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: calc(100% - 45px); /* Ajusta el ancho para dejar espacio para el icono */
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: 600;/*para el grosor de la letra adecuado*/
    padding: 0 35px 0 5px;

}

.username-icon ion-icon,
.email-icon ion-icon,
.password-icon ion-icon {
    font-size: 1em; /* Utiliza el tamaño del texto del campo */
}

.input-box .iconss {
    position: absolute;
    right: 8px;
    top: 50%; /* Alinea verticalmente el icono */
    transform: translateY(-50%);
    font-size: 1em; /* Utiliza el tamaño del texto del campo */
    color: white;

}

.remember-forgot {
    font-size: .9em;
    color: white;
    font-weight: 500;/*para el grosor de la letra adecuado*/
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    
}

.remember-forgot label input {
    accent-color: white;
    margin-right: 3px;
}

.remember-forgot label {
    color: white;
}

.remember-forgot a {
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn-logreg {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;/*para el grosor de la letra adecuado*/
}

.login-register {
    font-size: .9em;
    color: white;
    text-align: center;
    font-weight: 500;/*para el grosor de la letra adecuado*/
    margin: 25px 0 10px;
}

.login-register p a {
    color: white;
    text-decoration: none;

}

.login-register p a:hover {
    text-decoration: underline;
}

.login-register p {
    color: white;
    
}

.login-register a {
    color: white;
}








/* Estilos para dispositivos con un ancho máximo de 768px (típicamente tabletas) */
@media only screen and (max-width: 768px) {
    /* Estilos específicos para tabletas */
}

/* Estilos para dispositivos con un ancho máximo de 480px (típicamente smartphones) */
@media only screen and (max-width: 480px) {
    /* Estilos específicos para smartphones */
}

/* Estilos para dispositivos con un ancho máximo de 320px (típicamente smartphones en orientación vertical) */
@media only screen and (max-width: 320px) {
    /* Estilos específicos para smartphones en orientación vertical */
}